@font-face {
    font-family:haji;
    src: url(/font/Samim-Bold.ttf);
}
*{
    font-family:haji;
}
body{
    direction: rtl;
    margin:0;
    background-color:#f3f3f3;
}
#a1{
    background-color:#291b4d;
    height:1.8rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#a2{
    z-index:10;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height:4.3rem;
    border-bottom:solid 0.01rem rgba(0, 0, 0, 0.123) ;
}
#a3{
    height:7.5rem;
    background-color: rgb(255, 255, 255);
    background-image: url('/top_post.png');
    background-size: cover;
    display:flex;
    flex-direction: column;
    
}
#b1{
    width: 38rem;
    display:flex;
    justify-content: center;
}
#a4{
    width:38rem;
    margin:2rem 0.7rem;
    height:21.4rem;
}
#a4 video{
    margin:0;
    width:38rem;
    border-radius:0.4rem;
    border:solid 0.01rem rgba(0, 0, 0, 0.151);
}
#a5{
    margin:2rem 0.7rem 0.6rem 0.7rem;
    width:15rem;
    height:6rem;
    background-color:rgb(255, 255, 255);
    border-radius:0.1rem;
    border:solid 0.01rem rgba(0, 0, 0, 0.151);
    display:flex;
    justify-content: center;
}
#a6{
    margin:0rem 0.7rem 1rem;
    width:15rem;
    height:2.5rem;
    background-color:rgb(255, 255, 255);
    border-radius:0.1rem;
    border:solid 0.01rem rgba(0, 0, 0, 0.151);
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#b2{
    height:78rem;
    display:flex;
    flex-direction:column;
    position:sticky;
    top:-35rem;

}
#a7{
    margin:0rem 0.7rem 0.6rem;
    width:15rem;
    height:15rem;
    background-color:rgb(255, 255, 255);
    border-radius:0.1rem;
    border:solid 0.01rem rgba(0, 0, 0, 0.151);
}
#a9{
    margin:0rem 0.7rem 0.6rem;
    width:15rem;
    background-color:rgb(255, 255, 255);
    border-radius:0.1rem;
    border:solid 0.01rem rgba(0, 0, 0, 0.151);
    display: flex;
    flex-wrap: wrap;
}
#a10{
    margin:0rem 0.7rem 0.6rem;
    width:15rem;
    background-color:rgb(255, 255, 255);
    border-radius:0.1rem;
    border:solid 0.01rem rgba(0, 0, 0, 0.151);
    display: flex;
    flex-wrap: wrap;
}
#a11{
    margin:0rem 0.7rem 0.6rem;
    width:15rem;
    background-color:rgb(255, 255, 255);
    border-radius:0.1rem;
    border:solid 0.01rem rgba(0, 0, 0, 0.151);
}
#a12{
    margin:0rem 0.7rem 0.6rem;
    width:15rem;
    background-color:rgb(255, 255, 255);
    border-radius:0.1rem;
    border:solid 0.01rem rgba(0, 0, 0, 0.151);
}
#a8{
    margin:0rem 0.7rem 1rem;
    width:38rem;
    background-color:rgb(255, 255, 255);
    border-radius:0.1rem;
    border:solid 0.01rem rgba(0, 0, 0, 0.239);
}
#ab1{
    color: aliceblue;
    font-size:0.7rem;
    letter-spacing:0.6px;
    text-decoration:none;
    display:flex;
    align-items: center;
}
#ab1 img{
    width:1.5rem;
    margin:0.4rem;
}
.ab2{
    color: aliceblue;
    text-decoration: none;
    margin:0 0.5rem;
    font-size:0.6rem;
}
#ab3 img{
    width:0.9rem;
}
#ab3{
    margin-left:1rem;
    margin-right:0.3rem;
    position:relative;
    top:0.2rem;
    display:inline-block;
}
#ab4{
    margin-right:3rem;
    width:8rem;
}
#ab5{
    display: flex;
    flex-direction:row;
    position:sticky;
}
.l{
    list-style: none;
    font-size:0.65rem;
    margin:1rem;

}
.l a{
    text-decoration:none;
    color:rgb(107, 107, 107);
    transition-duration:0.5s;
}
.l a:hover{
    color:rgb(255, 0, 0);
}
#kk{
    display: flex;
    align-items: center;
}
#ll{
    display:flex;
}
#ab6{
    border-radius:0.3rem;
    width:1.5rem;
    height:1.5rem;
    padding:0.2rem;
    background-color: rgb(200, 200, 200);
    margin-left:2rem;
}
#ab7{
    margin:0px;
    font-size:1rem;
    margin-bottom:0.5rem;
}
#ab8{
    margin:0px;
    font-size:0.6rem;
}
#ab9{
    margin:1rem 1rem;
    font-size:1rem;
    color: rgb(224, 40, 40);
}
#ab10{
    line-height:1.5rem;
    margin:1rem 1rem;
    font-size:0.6rem;
    color: rgb(77, 77, 77);
}
#ab11{
    margin:0;
    padding-right:1.5rem;
}
#ab11 li{
    font-size:0.65rem;
    margin:0.5rem;
    color:rgb(77, 77, 77);
}
#ab12 li{
    list-style:none;
    margin-bottom:0.5rem;
}
#ee{
    display:flex;
    flex-direction: column;
    margin: auto 17rem;
}
#a5 p{
    text-align: center;
    background-color: rgb(55, 180, 71);
    padding:0.5rem 1.5rem;
    margin:1rem 0.5rem 1rem;
    width:60%;
    border-radius:0.3rem;
    color:rgb(255, 255, 255);
}
#a6 a p{
    text-align: center;
    color:rgb(179, 179, 179);
    margin:0.5rem;
    padding:0;
    font-size:0.8rem;
    transition-duration:0.5s;
}
#a6 a{
    text-decoration: none;
}
#a6 a:hover p{
    color:crimson
}
#a7 ul li{
    font-size:0.7rem;
    color:rgb(138, 138, 138);
    margin:0.9rem 0;
}
#a9 img{
    width:3.5rem;
    border-radius:100rem;
    border:solid 0.1rem #adadad;
    margin:1rem 1rem 0 0;
}
#aadd{
    height:2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:2rem 1rem 0 0;
}
#llii1{
    font-size:0.7rem;
    padding:0;
    margin:0;
    color:rgb(71, 71, 71);
}
#llii2{
    font-size:0.5rem;
    padding:0;
    margin:0;
    color:rgb(110, 110, 110);
}
#llii3{
    margin:0.7rem 0.7rem 1rem;
    font-size:0.6rem;
    color:rgb(83, 83, 83);
}
.hhe{
    width:100%;
    height:9rem;
    margin:0.1rem;
    padding:0;
}
.hhe img{
    width:100%;
}
.hhe p{
    font-size:0.6rem;
    margin:0.1rem 0.5rem;
}
#a10 a{
    color: rgb(0, 0, 0);
    text-decoration:none;
    width:calc(50% - 0.8rem);
    margin:0.35rem;
    padding:0;
    display: inline;
}
#a11 p{
    font-size:0.6rem;
    margin:1rem 1rem 0 0;
}
#a11 input{
    border:solid 0.05rem #8f8f8f;
    border-radius:0.2rem;
    margin-right:8%;
    margin-bottom:1rem;
    background-color: #ffffff;
    font-size:0.9rem;
    width:80%;
    height:20%;
    font-size:0.5rem;
}
input::placeholder{
    font-size:0.6rem;
}
#a12 img{
    margin:2rem;
    width:calc(100% - 4rem);
}
#ad13{
    font-size:0.7rem;
    margin:3rem 1rem;
    color:rgb(77, 77, 77);
    padding-bottom:3rem;
    border-bottom: solid 0.05rem #d8d8d8;
}
#art1{
    width: 90%;
    margin:2rem 5%;
    border-radius:0.2rem;
    border:solid 0.001rem #d8d8d8;
    background-color: rgb(245, 245, 245);
}
#art1 ul{
    padding:0 1rem;
    margin:0;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
}
#art1 ul li{
    font-size:0.8rem;
    display:flex;
    justify-content: space-between;
    list-style:none;
    padding:0.5rem;
    margin:0 0 0.5rem;
    border-bottom:0.05rem solid #727272 ;
}
#art1 ul li a{
    display: flex;
    margin:0;
    color: #ffffff;
    text-decoration: none;
    background-color: rgb(255, 0, 0);
    padding: 0.2rem 1rem;
    border-radius:1rem;
}
#art1 ul li a img{
    margin-right:0.3vw;
}

#uull1{
    display:flex;
    justify-content: center;
    height:200vw;
}
#haji{
    border-radius:2rem 2rem 0 0;
    border-top:solid rgb(167, 167, 167);
    background-color: rgb(255, 255, 255);
    height:30vw;
}
#haji1{
    position:absolute;
    margin:5rem;
}
#loll1{
    font-size:1.5rem;
    color: rgb(0, 0, 0);
}
.loll2{
    margin-right:1rem;
    font-size:1.3rem;
    color: rgb(0, 0, 0);
}
#haji2{
    position:absolute;
    margin:5rem 0;
    left:15rem;
}
#hghg{
    border-radius:20rem;
    border:solid 0.1rem #c3c3c3;
    background-color: rgb(250, 250, 250);
    position: absolute;
    left:1rem;
    margin-top:13rem;
}
.meno_lest1{
    top:3.5rem;
    position: absolute;
    right:4rem;
    opacity:0;
    background-color: #ffffff;
    border:solid 1px #d1d1d1;
    border-radius:0.25rem;
    transition-duration:0.5s;
    visibility: hidden;
}
.ul_meno1 li{
    width:10vw;
    list-style:none;
    margin:0 0.4rem;
    padding:0.4rem;
    font-size:0.6rem;
}
.ul_meno1 li:last-child{
    margin:0rem 0.4rem 0.1rem;
}
.ul_meno1 li:first-child{
    margin:0.1rem 0.4rem 0rem;
}
.ul_meno1 li:not(#ddssll){  
    border-bottom:solid 1px #dadada; 
}
.ul_meno1 li:hover{  
    background-color: #f3f3f3;
    color:#eb0c0c;
}
.ul_meno1{
    margin:0;
    padding:0;
}
.m1{
    transition-duration:0.5s;
}
.m1:hover .meno_lest1{
    opacity:1;
    top:2.3rem;
    visibility:visible;
}
/*لیست 2*/
.meno_lest2{
    top:3.5rem;
    position: absolute;
    right:8.3rem;
    opacity:0;
    background-color: #ffffff;
    border:solid 1px #d1d1d1;
    border-radius:0.25rem;
    transition-duration:0.5s;
    visibility: hidden;
}
.ul_meno1 li{
    width:10vw;
    list-style:none;
    margin:0 0.4rem;
    padding:0.4rem;
    font-size:0.6rem;
}
.ul_meno1 li:last-child{
    margin:0rem 0.4rem 0.1rem;
}
.ul_meno1 li:first-child{
    margin:0.1rem 0.4rem 0rem;
}
.ul_meno1 li:not(#ddssll){  
    border-bottom:solid 1px #dadada; 
}
.ul_meno1 li:hover{  
    background-color: #f3f3f3;
    color:#eb0c0c;
}
.ul_meno1{
    margin:0;
    padding:0;
}
.m2{
    transition-duration:0.5s;
}
.m2:hover .meno_lest2{
    opacity:1;
    top:2.3rem;
    visibility:visible;
}
/*لیست 3*/
.meno_lest3{
    top:3.5rem;
    position: absolute;
    right:12.8rem;
    opacity:0;
    background-color: #ffffff;
    border:solid 1px #d1d1d1;
    border-radius:0.25rem;
    transition-duration:0.5s;
    visibility: hidden;
}
.ul_meno1 li{
    width:10vw;
    list-style:none;
    margin:0 0.4rem;
    padding:0.4rem;
    font-size:0.6rem;
}
.ul_meno1 li:last-child{
    margin:0rem 0.4rem 0.1rem;
}
.ul_meno1 li:first-child{
    margin:0.1rem 0.4rem 0rem;
}
.ul_meno1 li:not(#ddssll){  
    border-bottom:solid 1px #dadada; 
}
.ul_meno1 li:hover{  
    background-color: #f3f3f3;
    color:#eb0c0c;
}
.ul_meno1{
    margin:0;
    padding:0;
}
.m3{
    transition-duration:0.5s;
}
.m3:hover .meno_lest3{
    opacity:1;
    top:2.3rem;
    visibility:visible;
}
/*لیست 4*/
.meno_lest4{
    top:3.5rem;
    position: absolute;
    right:18.5rem;
    opacity:0;
    background-color: #ffffff;
    border:solid 1px #d1d1d1;
    border-radius:0.25rem;
    transition-duration:0.5s;
    visibility: hidden;
}
.ul_meno1 li{
    width:10vw;
    list-style:none;
    margin:0 0.4rem;
    padding:0.4rem;
    font-size:0.6rem;
}
.ul_meno1 li:last-child{
    margin:0rem 0.4rem 0.1rem;
}
.ul_meno1 li:first-child{
    margin:0.1rem 0.4rem 0rem;
}
.ul_meno1 li:not(#ddssll){  
    border-bottom:solid 1px #dadada; 
}
.ul_meno1 li:hover{  
    background-color: #f3f3f3;
    color:#eb0c0c;
}
.ul_meno1{
    margin:0;
    padding:0;
}
.m4{
    transition-duration:0.5s;
}
.m4:hover .meno_lest4{
    opacity:1;
    top:2.3rem;
    visibility:visible;
}